body {
  overflow-x: hidden;
}

#onepage > section {
  width: 100vw;
  height: 100vh;
}

#onepage section:nth-of-type(2) {
  background-color: #eee;
}
#onepage section:nth-of-type(3) {
  background-color: blue;
}
#onepage section:nth-of-type(4) {
  background-color: cyan;
}
#onepage section:nth-of-type(5) {
  background-color: lightblue;
}
#onepage section:nth-of-type(6) {
  background-color: lightcoral;
}
#onepage section:nth-of-type(7) {
  background-color: lightgray;
}